node_modules/
.env
vanity_data.json
autoswap_data.json
*.log
logs/
pids
*.pid
*.seed
*.pid.lock
coverage/
build/Release/
jspm_packages/
.npm
.eslintrc.cache
*.tgz
.yarn-integrity
.env
.env.test
proxies.js
.vscode/
.idea/
*.swp
*.swo
